<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="myProject">
<test name="Login Test">
<parameter name="browser" value="chrome" />
<classes>
<class name="com.testCases.testCases" />
<!--<class name="com.testCases.TC_002" />  -->
</classes>
</test>


</suite>